.content {
    margin: 0 auto;
    margin-bottom: 1100px;
    height: 1100px;
}

h4 {
    font-size: 18px;
}

.hangmancontainer { 
    float: left;
    position: relative;
    width: 32%;
    height: 250px;
    padding: 5px;
    padding-bottom: 30px;
    padding-right:  30px;
}

.hangmantextblock {
    position: absolute;
    width: 89%;
    bottom: 30px;
    left: 0 auto;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.rpgcontainer {
    float: left;
    position: relative;
    width: 32%;
    height: 250px;
    padding: 5px;
    padding-bottom: 30px;
    padding-right:  30px;
}

.rpgtextblock {
    position: absolute;
    width: 89%;
    bottom: 30px;
    left: 0 auto;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.triviacontainer {
    clear: both;
    float: left;
    position: relative;
    width: 32%;
    height: 250px;
    padding: 5px;
    padding-bottom: 30px;
    padding-right:  30px;
    padding-top: 30px;
}

.triviatextblock {
    position: absolute;
    width: 89%;
    bottom: 30px;
    left: 0 auto;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.widgetcontainer {
    float: left;
    position: relative;
    width: 32%;
    height: 250px;
    padding: 5px;
    padding-bottom: 30px;
    padding-right:  30px;
    padding-top: 30px;
}

.widgettextblock {
    position: absolute;
    width: 89%;
    bottom: 30px;
    left: 0 auto;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.rockcontainer {
    clear: both;
    float: left;
    position: relative;
    width: 32%;
    height: 250px;
    padding: 5px;
    padding-bottom: 30px;
    padding-right:  30px;
    padding-top: 30px;
}

.rocktextblock {
    position: absolute;
    width: 89%;
    bottom: 30px;
    left: 0 auto;
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

@media screen and (max-width: 640px) {  
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    h1 {
        width: 640px;
    }
    
    #nameBox {
        display: flex;
        flex-wrap: wrap;
        width: 640px;
        text-align: center;
    }

    nav a {
        overflow: hidden;
        width: 28%;
        height: 32px;
        text-align: center;
        text-decoration: none;
        margin-top: 0px;
    }
    
    .content {
        margin-left: 40px;
        margin-bottom: 0px;
    }

    #contact.content {
        margin-bottom: 40px;
    }

    #connect {
        margin-left: 40px;
        margin-bottom: 200px;
    }

    .page {
        display: flex;
        flex-wrap: wrap;
        width: 640px;
        margin-right: 40px;
    }

}  


@media screen and (max-width: 768px) {  
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    h1 {
        width: 768px;
    }
    
    #nameBox {
        display: flex;
        flex-wrap: wrap;
        width: 768px;
        text-align: center;
    }

    nav a {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        width: 28%;
        height: 32px;
        text-align: center;
        text-decoration: none;
        margin-top: 0px;
    }
    
    .content {
        margin-left: 40px;
        margin-bottom: 0px;
    }

    #contact.content {
        margin-bottom: 40px;
    }

    #connect {
        margin-left: 40px;
        margin-bottom: 200px;
    }

    .page {
        display: flex;
        flex-wrap: wrap;
        width: 768px;
        margin-right: 40px;
    }

}

