header {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    overflow: auto;
    margin-bottom: 40px;
  }

nav a:hover:not(.active) {
    background-color: rgba(0, 128, 128, 0.507);
}

.active {
    background-color: rgb(161, 161, 161);
}

.headinfo {
    text-align: center;
    margin: 0 auto;
    width: 960px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
  }  
  
h1 {
    padding: 15px 0;
    font-size: 32px;
    color: rgb(255, 255, 255);
    text-align: center;
  }

h2 {
    padding-bottom: 20px;
    font-size: 32px;
    color: #4aaaa5;
  }

#nameBox {
    float: left;
    background-color: #4aaaa5;
    width: 0 auto;
    position: relative;
    padding: 20px;
  }

nav a{
    float: right;
    display: block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 60px;
    margin-top: 20px;
    text-decoration: none;
}

#about {
    border-right: 1px solid lightgray;
}

#portfolio {
    border-right: 1px solid lightgray;
}

body {
    line-height: 200%;
    background-image: url('/Users/nickakrap/Desktop/northwestern/Basic-Portfolio/assets/images/old_wall.png');
}

hr {
    display: block;
    border: none;
    padding-bottom: 30px;
    border-top: 3px solid #cccccc;
    margin: auto; 
}

.content {
    clear: left;
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff; 
    border: 1px solid #dddddd;
    padding: 30px;
    margin-bottom: 200px;
}

#profilePic {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

#bio {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #777777;
    margin-bottom: 40px;
}

p {
    padding-bottom: 20px;
}

footer { 
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    text-align: center;
    color: #ffffff;
}

.foot {
    float: left;
    display: block;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 33%;
    margin: 0 auto;
}

#email, #linkedin, #phone {
        color:#fff;
}

#email:hover, #linkedin:hover, #phone:hover {
        color:#4aaaa5;
}

#email:hover::after
{
    content: "nakrap@gmail.com";
}

#linkedin:hover::after
{
    content: "/nickakrap";
}

#phone:hover::after
{
    content: "(312) 446-2318";
}


/* 
`max-width`s: `980px`, `768px` and `640px`. */


/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 640px) {
    body {
        background-color: lightblue;
    }
} */

    @media screen and (max-width: 640px) {  
        .row {
            display: flex;
            flex-wrap: wrap;
            width: 640px;
        }

        h1 {
            width: 640px;
        }

        .headinfo {
            width: 640px;
        }
        
        #nameBox {
            display: flex;
            flex-wrap: wrap;
            width: 640px;
            text-align: center;
        }
    
        nav a {
            overflow: hidden;
            width: 28%;
            height: 32px;
            text-align: center;
            text-decoration: none;
            margin-top: 0px;
        }
        
        .content {
            margin-left: 40px;
            margin-right: 40px; 
            margin-bottom: 0px;
            width: 640px;
        }

        #contact.content {
            margin-bottom: 40px;
        }

        #connect {
            margin-left: 40px;
            margin-bottom: 200px;
        }

        .page {
            display: flex;
            flex-wrap: wrap;
            width: 40px;
        }

        body {
            width: 640px;
        }

        #bio {
            width: 640px;
        }



    }  

    @media screen and (max-width: 768px) {  
        .row {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    
        h1 {
            width: 768px;
        }
        
        #nameBox {
            display: flex;
            flex-wrap: wrap;
            width: 768px;
            text-align: center;
        }
    
        nav a {
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            width: 28%;
            height: 32px;
            text-align: center;
            text-decoration: none;
            margin-top: 0px;
        }
        
        .content {
            margin-left: 40px;
            margin-bottom: 0px;
        }
    
        #contact.content {
            margin-bottom: 40px;
        }
    
        #connect {
            margin-left: 40px;
            margin-bottom: 200px;
        }
    
        .page {
            display: flex;
            flex-wrap: wrap;
            width: 768px;
            margin-right: 40px;
        }
    
    }
    
    
    /* nav a {
        display: block;
        width: 100%;
    }
} */

/* @media screen (max-width: 768px) {  
    nav a {
        float: none;
        width: 100%;
    }
}

@media screen (max-width: 980px) {  
    nav a {
        float: none;
        width: 100%;
    }
} */

